#content-wrapper {
  z-index: 800;
  position: fixed;
  top: 3%;
  left: 2%;
  bottom: 0;
  right: 0;
  width: 0;
  padding: 0;

  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
        transition: all 3s ease;
}

#content-wrapper.open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: auto;
}

#menu-wrapper {
  z-index: 700;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  padding: 2% 2%;
  background-color: rgba(58, 57, 71, 0.9);

  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
        transition: all 3s ease;
}

#menu-wrapper.open {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
}

li {
    color:white;
    list-style-type:none;
    padding:50px;
    font-size:20px;
    text-align:center;
}

li:hover {
    cursor:pointer;
    color:white;
    text-decoration:underline white;
}

#hamburger-button {
  display: inline-block;
  vertical-align: top;
  height: 15px;
  width: 20px;
}

#hamburger-button:hover {
  cursor: pointer;
}

#hamburger-button > span {
  z-index: 300;
  display: block;
  height: 3px;
  width: 20px;
  margin-bottom: 3px;
  background-color: black;

  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
}

#hamburger-button.open span:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
     -moz-transform: translateY(6px) rotate(45deg);
      -ms-transform: translateY(6px) rotate(45deg);
       -o-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
}

#hamburger-button.open span:nth-child(2) {
  -webkit-transform: rotateY(90deg);
     -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
       -o-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

#hamburger-button.open span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
     -moz-transform: translateY(-6px) rotate(-45deg);
      -ms-transform: translateY(-6px) rotate(-45deg);
       -o-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
}
