<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />
  <meta name="thumbnail" content="http://i.imgur.com/GFJC5ou.png" />
  <meta property="og:title" content="Amazia App" />
  <meta property="og:description" content="Search NYC restaurants with our Amazia app made by Thiago Brandao, Julia Kim, Kevin Xu. A full CRUD app made with React for front end, Node.js/Express for back end, JWT for user's authentication and PSQL database deployed as an api with heroku. Tools used: React/Node.js/Express/PSQL/SASS/React-Bootstrap" />
  <meta property="og:image"content="./../src/assets/img/amazia_screenshot.png" />
  <meta property="og:url" content="https://amazia.herokuapp.com" />

   <!-- Link to Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo|Comfortaa:300,400,700" rel="stylesheet">
  <!-- Link to basic bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <!-- Link to fontawesome -->
  <script src="https://use.fontawesome.com/6fbed33790.js"></script>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Amazia</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
