// Base Color
$white: #ffffff;
$black: #0b0b0b;
$gray: #232323;
$light-gray: #eeedf2;
$deep-purple-gray: #3a3947;
$red: #fc0043;
$neon-yellow: #eaff0a;

$primary-color: $red;

//Font
$base-font-size: 15px;
$bold-font-size: 17px;

$primary-font-family: "Avenir";
