// Base Color
$white: #ffffff;
$black: #0b0b0b;
$gray: #232323;
$light-gray: #eeedf2;
$deep-purple-gray: #2C2D3D;
$pastel-red: #F7987C;
$pastel-green: #89F8EA;
$bright-blue: #1BC9EA;
$red: #F92116;

$primary-color: $deep-purple-gray;
$secondary-color: $red;
$tertiary-color: $pastel-green;

//Font
$base-font-size: 15px;
$bold-font-size: 17px;

$primary-font-family: "Avenir";
