.view-btn, .edit-btn {
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  margin-left: 12px;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
}

.like-btn {
  border: none;
  background: $white;
  color: $white;
}

.view-btn, .edit-btn {
  background: $white;
  color: $deep-purple-gray;
}

.edit-btn {
  box-sizing: border-box;
  border: $primary-color solid 4px;
}

.fork {
  height: 40px;
  margin-top: 10px;
}

.fork:hover {
  opacity: 1;
}

.logout-btn {
  background: $primary-color;
  border: none;
  border-radius: 5px;
  padding: 7px 13px;
}
