.like-btn, .view-btn, .edit-btn {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  margin-left: 12px;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
}

.like-btn {
  background: $secondary-color;
  color: $white;
}

.view-btn, .edit-btn {
  background: $white;
  color: $deep-purple-gray;
}

.edit-btn {
  box-sizing: border-box;
  border: $primary-color solid 4px;
}
