.searchbar-container {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  background: $light-gray;
  padding: 10px 0;
  z-index: 100;
}

.area-search, .food-search {

  text-align: center;
}

.area-search-bar, .food-search-bar {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.dropBtn-type, .dropBtn-area {
  padding: 15px;
  font-size: 13px;
  background: $primary-color;
  border-radius: 10px;
}

.area-dropdown {
  width: 100%;
}

.food-dropdown {
  width: 100%;
}
