.area-search, .food-search {
  width: 100%;
  text-align: center;
}

.area-search-bar, .food-search-bar {
  margin: 0 auto;
}

.dropBtn-type, .dropBtn-area {
  padding: 15px;
  font-size: 13px;
  background: $primary-color;
  border-radius: 10px;
}

.area-dropdown {
  width: 500px;
}

.food-dropdown {
  width: 500px;
}
