.single-container {
  box-shadow: 5px 10px 5px $light-gray, -5px 10px 5px $light-gray;
  padding: 0;
}

.single-img-box {
  width: 100%;
  overflow: hidden;
  height: 500px;
  img {
    width: 100%;
    padding: 0;
  }
}

.single-text-box {
  padding: 50px 70px 180px 80px;
}

.area-font {
  margin-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  color: $mid-gray;
}

.ratings-box {
  padding: 15px 0;
}

.desc-font {
  font-size: 22px;
  padding: 20px 150px 20px 0;
}

.a-font {
  font-size: 17px;
  color: $deep-pastel-green;
  font-weight: bold;
}

.span-font {
  font-size: 20px;
  color: $gray;
  font-weight: normal;
}
