.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.address-font {
  color: $secondary-color;
  font-weight: bold;
}

.font-bold {
  font-weight: bold;
}
