body {
  font-family: $font-p;
  color: $tertiary-color;
  height: 100%;
}

a {
  color: $tertiary-color;
}

a:hover {
  color: $tertiary-color;
  text-decoration: none;
}

.no-paddding {
  padding: 0;
}
