.searchbar-container {
  box-shadow: 1px 1px 7px $shadow;
}

.search-section {
  position:fixed;
  left: 0;
  top: 60px;
  background: $light-gray;
  width: 100%;
  height: 80px;
  z-index: 2;
}

.searchbar-container {
  input {
    margin-top: 20px;
    border: $primary-color solid 3px;
    border-radius: 5px;
    background: $white;
    width: 100%;
    padding: 10px;
  }
}
